In [47]:
import pandas as pd
import sweetviz as sv

In [2]:
df_train = pd.read_csv(r'../Data/Train/train.csv')
df_test = pd.read_csv(r'../Data/test.csv')

In [3]:
df_first = pd.read_csv(r'../Data/Train/First_Health_Camp_Attended.csv') #importing data on first medical camp
df_second = pd.read_csv(r'../Data/Train/Second_Health_Camp_Attended.csv') #importing data on second medical camp
df_third = pd.read_csv(r'../Data/Train/Third_Health_Camp_Attended.csv') #importing data on third medical camp

In [4]:
#We rename health score column to be representative of the 1st health camp
df_first = df_first.rename(columns={"Health_Score":"Health_Score_firstCamp"})
df_first.head()

   Patient_ID  Health_Camp_ID  Donation  Health_Score_firstCamp  Unnamed: 4
0      506181            6560        40                0.439024         NaN
1      494977            6560        20                0.097561         NaN
2      518680            6560        10                0.048780         NaN
3      509916            6560        30                0.634146         NaN
4      488006            6560        20                0.024390         NaN

In [5]:
#We rename health score column to be representative of the 2nd health camp
df_second = df_second.rename(columns={"Health Score":"Health_Score_secondCamp"})
df_second.head()

   Patient_ID  Health_Camp_ID  Health_Score_secondCamp
0      526631            6536                 0.875136
1      509122            6536                 0.755700
2      498864            6536                 0.673181
3      515398            6536                 0.722041
4      504624            6536                 0.464712

In [6]:
df_third.head()

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
0,517875,6527,3,1
1,504692,6578,1,1
2,504692,6527,3,1
3,493167,6527,4,4
4,510954,6528,2,2

We will import features from 3 csv file to both train and test sets."Patient_ID" will be used as primary key to map the values.

In [7]:
df_train.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [8]:
#Mapping the values from medical camp cvs to train data set
df_train_main = pd.merge(df_train,df_first,how='left',on=['Patient_ID','Health_Camp_ID'])
df_train_main = pd.merge(df_train_main,df_second,how='left',on=['Patient_ID','Health_Camp_ID'])
df_train_main = pd.merge(df_train_main,df_third,how='left',on=['Patient_ID','Health_Camp_ID'])

In [9]:
df_train_main.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Donation,Health_Score_firstCamp,Unnamed: 4,Health_Score_secondCamp,Number_of_stall_visited,Last_Stall_Visited_Number
0,489652,6578,10-Sep-05,4,0,0,0,2,NaN,NaN,NaN,NaN,2.0,1.0
1,507246,6578,18-Aug-05,45,5,0,0,7,NaN,NaN,NaN,NaN,NaN,NaN
2,523729,6534,29-Apr-06,0,0,0,0,0,NaN,NaN,NaN,0.402054,NaN,NaN
3,524931,6535,07-Feb-04,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,521364,6529,28-Feb-06,15,1,0,0,7,NaN,NaN,NaN,0.845597,NaN,NaN

In [10]:
df_train_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75278 entries, 0 to 75277
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Patient_ID                 75278 non-null  int64
 1   Health_Camp_ID             75278 non-null  int64
 2   Registration_Date          74944 non-null  object
 3   Var1                       75278 non-null  int64
 4   Var2                       75278 non-null  int64
 5   Var3                       75278 non-null  int64
 6   Var4                       75278 non-null  int64
 7   Var5                       75278 non-null  int64
 8   Donation                   6218 non-null   float64
 9   Health_Score_firstCamp     6218 non-null   float64
 10  Unnamed: 4                 0 non-null      float64
 11  Health_Score_secondCamp    7819 non-null   float64
 12  Number_of_stall_visited    6515 non-null   float64
 13  Last_Stall_Visited_Number  6515 non-null   float64
dtypes: float64(6), int64(7), object(1)
memory usage: 8.6+ MB

In [11]:
#Dropping the rows with date values as NA and dropping Unnamed 4 column. The date column is changed from string to date type.
df_train_main.dropna(subset=['Registration_Date'],inplace=True)
df_train_main.drop(['Unnamed: 4'],axis=1,inplace=True)
df_train_main.Registration_Date = df_train_main.Registration_Date.astype('datetime64')
df_train_main.info()

We fill all NA values in health score columns and number of stalls visited as zero. Where by zero indicates the person dint checkin
to take the test.

In [14]:
df_train_main.fillna(0,inplace=True)
df_train_main.info()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Donation,Health_Score_firstCamp,Health_Score_secondCamp,Number_of_stall_visited,Last_Stall_Visited_Number
0,489652,6578,10-Sep-05,4,0,0,0,2,0.0,0.000000,0.000000,2.0,1.0
1,507246,6578,18-Aug-05,45,5,0,0,7,0.0,0.000000,0.000000,0.0,0.0
2,523729,6534,29-Apr-06,0,0,0,0,0,0.0,0.000000,0.402054,0.0,0.0
3,524931,6535,07-Feb-04,0,0,0,0,0,0.0,0.000000,0.000000,0.0,0.0
4,521364,6529,28-Feb-06,15,1,0,0,7,0.0,0.000000,0.845597,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75273,500969,6539,03-Jan-05,0,0,0,0,0,0.0,0.000000,0.000000,0.0,0.0
75274,511952,6528,13-Feb-06,0,0,0,0,0,0.0,0.000000,0.000000,2.0,1.0
75275,521236,6554,24-May-05,0,0,0,0,0,20.0,0.927746,0.000000,0.0,0.0
75276,518817,6580,22-Dec-04,0,0,0,0,0,0.0,0.000000,0.000000,0.0,0.0
75277,511284,6555,08-Aug-05,0,0,0,0,0,0.0,0.000000,0.000000,0.0,0.0

A favorable outcome is defined as that the person has either attended one of the medical camps. In other words the person shall have a non zero value in any of the following columns.Health_Score_firstCamp, Health_Score_secondCamp, Number_of_stall_visited.We create a small function that assigns a value of 1 to outcome column if this condition is satsfied.

In [44]:
def outcome(row):
    if((row['Health_Score_firstCamp'] > 0) or (row['Health_Score_secondCamp'] > 0) or (row['Number_of_stall_visited'] > 0)):
        return 1
    else:
        return 0
df_train_main['outcome'] = df_train_main.apply(outcome,axis=1)
df_train_main.head(10)